.cuadro{
    max-width: 500px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

#listanueva{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}


/* Para que el html ocupe el 100% de la pagina */
html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    /* Para que no se vea el scroll */
    margin: 0%
}

/* Puedo acceder al id de un objeto y modificarlo con el #*/
#input1{
    max-width: 100%;
}

.circulo{
    background-color: green;
}

.triangulo{
    background-color: pink;
}

.cuadrado{
    background-color: black;
}

.tamaño{
    font-size: 25px;
}